<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raiz & Folha</title>
    <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>

    <header>

        <!-- Componente do navbar -->
        <nav class="navbar navbar-expand-lg bg-black navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}"><img th:src="@{assets/desktop/raiz_e_folha_logo_menor2.jpg}"
                        alt="Logo da Raiz & Folha"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Cardápio
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Cardápio Fit</a></li>
                                <li><a class="dropdown-item" href="#">Cardápio Vegano</a></li>
                                <li><a class="dropdown-item" href="#">Cardápio Vegetariano</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Conheça Raiz & Folha
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Sobre Nós</a></li>
                                <li><a class="dropdown-item" href="#">Nossas Unidades</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Contato</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav me-0 mb-2 mb-lg-0">         
                        <li class=" nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/usuario}">Cadastre-se</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-light rounded-0 botao-login" aria-current="page" th:href="@{/login}"><i
                                    class="bi bi-door-open btn-icon"></i>Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>

        <!-- Componente do "header" -->
    <section class="main-text-box">
        <div class="container main-text text-start my-3 my-xl-5">
            <h1 class="title-text">Bem vindo a Raiz & Folha</h1>
            <h3 class="description-text">Aqui, celebramos o sabor da natureza com opções fit, veganas e vegetarianas, preparadas com ingredientes frescos e cuidadosamente selecionados.</h3>
        </div>
    </section>

        <!-- Componente dos cards demonstrativos -->
    <section>
        <div class="container text-center my-3 my-xl-5">
            <h2 class="title-text fs-1">Conheça nossos cardápios</h2>
            <h3 class="description-text">Nosso cardápio é uma verdadeira conexão entre saúde e prazer, proporcionando refeições nutritivas e cheias de sabor. Sinta-se em casa e descubra uma nova forma de se alimentar!</h3>
        </div>

        <div class=" container text-center card-menu my-3 my-xl-5">

            <div class="card">
                <img src="./assets/desktop/prato fit 01.webp"  alt="prato de refeição fit.">
                
            </div>
            
            <div class="card">
                <img src="./assets/desktop/prato vegetariano 01.webp" alt="prato de refeição vegetariana.">
            </div>
            
            <div class="card">
                <img src="./assets/desktop/prato vegano 01.webp" alt="prato de refeição vegana.">
            </div>

            <div class="card">
                <img src="./assets/desktop/prato fit 02.webp" alt="">
            </div>

            <div class="card">
                <img src="./assets/desktop/prato vegetariano 02.webp" alt="">
            </div>

            <div class="card">
                <img src="./assets/desktop/prato vegano 02.webp" alt="">
            </div>

        </div>

    </section>


        <!-- Componente dos cards menu -->
    <div class="container row mx-auto g-4">

        <div class="col-12 col-md-12 col-lg-4">
          <div class="card">
    
            <img class="d-block d-md-none" src="/src/main/resources/static/assets/desktop/prato fit 02.webp" alt="Prato de refeição fit.">
    
            <div class="card-body">
              <h5 class="card-title fw-bold text-center my-3">Menu Fit</h5>
              <p class="card-text my-3">
                Oferecemos refeições saudáveis, equilibradas e saborosas, feitas com ingredientes frescos e nutritivos. Nossos pratos variam de saladas vibrantes a pratos principais leves e sobremesas nutritivas. Venha desfrutar de uma experiência gastronômica que cuida do seu bem-estar!
              </p>
              <a href="#" class="btn btn-primary rounded-0 border-0 my-3"><i class="bi bi-journal-text btn-icon"></i>Ver mais</a>
            </div>
          </div>
        </div>
    
    </div>

    



    <footer class="text-center bg-black text-bg-dark">
        <p class="card-text py-3">2024 <i class="bi bi-c-circle"></i> Desenvolido por Aluno | Projeto fictício sem fins
            comerciais.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>