<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <!-- Link do Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-black navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}"><img th:src="@{assets/desktop/raiz_e_folha_logo_menor2.jpg}"
                    alt="Logo da Raiz & Folha"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card mt-5">
                    <div class="card-body">
                        <h2 class="text-center">Login</h2>
                        <form>
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail">
                            </div>
                            <div class="form-group mb-3">
                                <label for="senha">Senha</label>
                                <input type="password" class="form-control" id="senha" placeholder="Digite sua senha">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        </form>
                        <p class="text-center mt-3">Não tem conta? <a th:href="@{/user}">Cadastre-se</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="text-center bg-black text-bg-dark fixed-bottom">
        <p class="card-text py-3">2024 <i class="bi bi-c-circle"></i> Desenvolido por Aluno | Projeto fictício sem fins
            comerciais.</p>
    </footer>

    <!-- Link dos scripts do Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>