<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <!-- Link do Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-black navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}"><img th:src="@{assets/desktop/raiz_e_folha_logo_menor2.jpg}"
                    alt="Logo da Raiz & Folha"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title text-center">Cadastro de Usuário</h4>
                    </div>
                    <div class="card-body">
                        <form action="#" method="post" th:action="@{/usuario}" th:object="${usuario}">
                            <!-- Campo Nome -->
                            <div class="mb-3">
                                <label for="nome" class="form-label">Nome Completo</label>
                                <input type="text" class="form-control" id="nome" name="nome" th:field="*{name}" required>
                            </div>
                            
                            <!-- Campo Email -->
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" th:field="*{email}" required>
                            </div>

                            <!-- Campo Senha -->
                            <div class="mb-3">
                                <label for="senha" class="form-label">Senha</label>
                                <input type="password" class="form-control" id="senha" name="senha"  th:field="*{password}" required>
                            </div>

                            <!-- Campo Telefone -->
                            <div class="mb-3">
                                <label for="telefone" class="form-label">Telefone</label>
                                <input type="tel" class="form-control" id="telefone" name="telefone" th:field="*{telephone}" required>
                            </div>

                            <!-- Botão de Cadastro -->
                            <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <small>Já tem uma conta? <a th:href="@{/login}">Login</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="text-center bg-black text-bg-dark fixed-bottom">
        <p class="card-text py-3">2024 <i class="bi bi-c-circle"></i> Desenvolido por Aluno | Projeto fictício sem fins
            comerciais.</p>
    </footer>

    <!-- Link dos scripts do Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
